<% include partials/header %>
    <div class="container">
        <h3> Hoho! </h3>
        <p> You're showing the campground with an ID of:
            <%=campground._id %>
        </p>
    </div>
    <% include partials/footer %>