<!-- Include the header -->
<% include partials/header  %>
<div class=" text-center">
    <header class="jumbotron">   
        <h1> This is the campgrounds page!</h1>
        <p> Views our selection of campgrounds from all over the world!</p>
        <a href="/" class="btn btn-default"> Go to Home </a>
        <a href="/campgrounds/new" class="btn btn-success"> Add a campground </a>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 "> 
                <p> YelpCamp! </p> 
                <div class="list-group">
                    <li class="list-group-item"> Info 1 </li>
                    <li class="list-group-item"> Info 2 </li>
                    <li class="list-group-item"> Info 3 </li>
                    <li class="list-group-item"> Info 1 </li>
                    <li class="list-group-item"> Info 2 </li>
                    <li class="list-group-item"> Info 3 </li>
                    <li class="list-group-item"> Info 1 </li>
                    <li class="list-group-item"> Info 2 </li>
                    <li class="list-group-item"> Info 3 </li>
                    <li class="list-group-item"> Info 1 </li>
                    <li class="list-group-item"> Info 2 </li>
                    <li class="list-group-item"> Info 3 </li>
                </div>
            </div>
            <div class="col-md-10 col-sm-8 col-xs-12 ">
                <div class="row">
                <% campgrounds.forEach(function(camp){ %>
                    <div class="col-md-3" > 
                        <div class="well" style=" padding:0"> 
                            <img class="mygridImg" src=" <%= camp.image %>" />
                            <div class="caption">
                                <h3><%= camp.name %> </h3> 
                            </div>
                        </div>
                    </div>
                <% }) %>
                
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- Include the footer -->
<% include partials/footer  %>