<% include partials/header %>
            <div class="container-fluid">
            <div class="grid"  data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 50 }'  >
                <% campgrounds.forEach(function(camp){ %>
                        <div class="grid-item thumbnail"> 
                            <img class="mygridImg" src=" <%= camp.image %>" />
                            
                        </div>
                    
                <% }) %>
            </div>
            </div>
<% include partials/footer %>